#aboutMeDiv, #portfolioDiv, #contactDiv{
    width: 100%;
    min-height: 100%;
    background-color: #636C6A;
    box-shadow: 0 4px 8px 0 #151412, 0 6px 20px 0 #151412;
    padding: 10px 20px 20px; 
}
.sections{
    min-height: 100vh;
    padding: 90px 0;   
}
html, body{
    height:100%;
    color: #E8BA93;
    }
h1{
    font-family: 'Alatsi', sans-serif;
    font-size: 100px;
    text-shadow: 2px 2px #636C6A;
    text-align: center;
}
#landingPage{
    padding-top: 15%;
    min-height: 100vh;
}
h2{
    text-shadow: 2px 2px #151412;
}
#name{
    color:#151412;
}
#title{
    color:#151412;
    font-size: 50px;
    text-shadow: 2px 2px #636C6A;
    text-align: center;
}
#backgroundImg{
    background-image: url("../images/alex-knight-j4uuKnN43_M-unsplash.jpg");
    background-size: cover;
    opacity:0.5;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
nav{
    position: fixed;
    top: 0;
    z-index: 500;
}
.nav-wrapper{
    color: #E8BA93;
    background-color: #92604D;
    position: fixed;
}
.container{
    padding-top: 40px;
}
.btn{
    background-color: #92604D;
    color: #151412;
}
.btn:hover{
    background-color: #B6522A;
    color: #151412;
}
.btn:visited{
    background-color: #B6522A;
    color: #151412;
}
.btn:focus{
    background-color: #92604D;
    color: #151412;
}
.card-content{
    min-height: 150px;
}
/* ul:not(.browser-default) li{
    margin-left: 5%;
    list-style-type: circle;  
  } */
  #languages li{
    margin-left: 5%;
    list-style-type: circle;  
  }
#profilePic{
    float: right;
    margin: 10px;
}
.socialMedia{
    text-align: center;
}
input:focus{
    color: #E8BA93;
    border-bottom: 1px solid #B6522A;
    box-shadow: 0 1px 0 0 #B6522A;
}
input[type=text]:not(.browser-default):focus:not([readonly])+label{
    
    color: #E8BA93;
}
.input-field .prefix.active{
    color: #E8BA93;
}
.input-field.inline.active{
    border-bottom: 1px solid #B6522A;
    box-shadow: 0 1px 0 0 #B6522A;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #E8BA93;
  -webkit-box-shadow: 0 1px 0 0 #E8BA93;
          box-shadow: 0 1px 0 0 #E8BA93;
}

    /* color palatte:
    Screen #C5C1C0
    Steel #0A1612
    Denim #1A2930
    Marigold #F7CE3E
    
    Burly Wood #E8BA93
    Sienna #B6522A
    Sienna (muted) #92604D
    Black #151412
    Slate Grey #636C6A*/